# Node
node_modules/
build/
.env
.DS_Store
npm-debug.log*

# VSCode
.vscode/

# OS
Thumbs.db
.DS_Store

# Test
coverage/

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Misc
*.swp
*.swo
node_modules
